<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Eco_Farm_system.Properties.Settings.EcoFarmConnectionString"
            connectionString="Data Source=DESKTOP-5TQ1HVS;Initial Catalog=EcoFarm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>